:root {
  /* Color Variables */
  --background-color: #fafafa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: var(--background-color);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  position: sticky;
  max-height: 3em;
  z-index: 2; 
  gap: 2rem;
}

.logo {
  margin: 0.7rem;
  margin-right: 1.5rem;
}

.landing_ul {
  gap: 1rem;
  list-style: none;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  z-index: 2; 
  display: none; 
  position: absolute; 
  list-style: none;
  top: 0.7rem; 
  left: 0; 
  background-color: var(--background-color); 
  padding: 1rem; 
  z-index: 1; 
  width: 100%;
}

.landing_ul.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  transition: color 0.3s; 
}

.link:hover {
  color: #797a7a; 
}

@media only screen and (max-width: 600px) {
  .landing_ul.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    margin: 0px;
  }
}

.section-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #303179;
  color: #fafafa;
  width: 90%;
  height: 400px;
  margin: 5rem auto 0;
}

@media only screen and (min-width: 601px) {
  .section-landing {
    flex-direction: row;
    height: 400px;
    margin-left: auto;
    justify-content: space-between;
    padding: 1rem;
  }
}

.landing-image {
  height: 70%;
  width: 60%;
  margin-bottom: 1rem;
  
}

@media only screen and (min-width:601px){
  .landing-image{
    height: 100%;
    
  }


}


.section-heading {
  opacity: 0; 
  transition: opacity 2s ease-in-out; 
  height:20%;
  
}
@media only screen and (min-width:601px){
  .section-heading{
    font-size: 5rem;
    
  }


}

.section-heading.loaded {
  opacity: 1; 
}
