/* ==[ PLAYGROUND Challenge! ]== */

/* This challenge includes several smaller challenges and allows you to
play around with the concepts you've learned. Read the instructions 
carefully. */

:root {
  /* Color Variables */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}
header {
  position: sticky;
}
header > ul {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  list-style: none;
  padding: 1em;
}
