:root {
  /* Color Variables */
  --background-color: #fafafa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: var(--background-color);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  position: sticky;
  max-height: 3em;
  z-index: 2; 
  gap: 2rem;
  position: relative;
}

.logo {
  margin: 0.7rem;
  margin-right: 1.5rem;
  position: absolute;
  top:0;
  right:0;
}

/*Landing Page*/
.landing_ul {
  gap: 1rem;
  list-style: none;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  z-index: 2; 
  display: none; 
  position: absolute; 
  list-style: none;
  top: 0.7rem; 
  left: 0; 
  background-color: var(--background-color); 
  padding: 1rem; 
  z-index: 1; 
  width: 100%;
}

.landing_ul.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  transition: color 0.3s; 
}

.link:hover {
  color: #797a7a; 
}

.section-landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #303179;
  color: #fafafa;
  width: 90%;
  height: 450px;
  margin: 7rem auto 0;
}

.landing-image {
  height: 70%;
  width: 60%;
  margin-bottom: 1rem;
  
}

.section-heading {
  opacity: 0; 
  transition: opacity 2s ease-in-out; 
  height:20%;
  
}

.section-heading.loaded {
  opacity: 1; 
}

/*Landing Page Responsive*/

@media only screen and (min-width: 992px){
  .logo{
    margin-right: 4.7rem;
  }
  .landing-image{
    height: 90%;
    
  }
  .section-landing {
    flex-direction: row;
    height: 400px;
    margin-left: auto;
    justify-content: space-between;
    padding: 1rem;
    gap:1.5rem;
  }
  .section-heading{
    font-size: 5rem;
    
  }

}

@media only screen and (max-width: 600px) {
  .landing_ul.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    margin: 0px;
  }
}

/*Article*/

.article-about {
  margin-top: 5rem;
  margin-bottom: 15rem;
  background-color: #1c1b1f;
  padding: 2rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-gap: 1rem; 
}

.article-heading {
  font-size: 2rem;
  color: #fafafa;
  grid-column: 1 / -1; 
  text-align: center;
 
}

.sub-article {
  background-color: #303179;
  color: #fafafa;
  padding: 1rem; 
  overflow-y: auto;
  max-height: 300px;
 
}

.sub-article-heading{
  font-weight: bold;
}

.article-text{
  font-size: 0.9rem;
}
.sub-article>ul{
  list-style: none;
  margin-left: -2rem;
}
.sub-article>ul>li{
  padding-bottom: 1rem;
}

.sub-article-text{
  overflow-wrap: break-word; 
  padding-bottom: 0.2rem;
}

.tag {
  display: inline-block;
  background-color: #303179;
  color: #fafafa;
  border:1px solid #fafafa;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
}

@media only screen and (min-width: 992px){
  .article-about{
    margin-top: 7rem;
    height:700px;
    padding-bottom: 10rem;
    grid-gap: 1rem; 
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Breitere Grid-Zellen */
  }
  .article-heading{
    font-size: 4rem;
  }
  .sub-article{
    width: 100%; /* Breite auf 100% setzen, damit es automatisch an die Grid-Zelle anpasst */
    margin: 0 auto; 
  }
}
