:root {
  /* Color Variables */
  --background-color: #fafafa;
  --white:#e6e8e6;
  --blue:#3772ff;
  --red:#df2935;
  --yellow:#fdca40;
  --black:#080708;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #fafafa;
  color: black;
  font-family: Onest;
  
}

a:hover,
button:hover {
  cursor: pointer;
}

a{
  color: var(--black);
  text-decoration-line: underline; 
  text-decoration-color: var(--blue);
  text-decoration-thickness: 2px;
}

button{
  background: transparent;
  border:none;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  position: sticky;
  max-height: 3em;
  z-index: 2; 
  gap: 2rem;
  position: relative;
}

.logo {
  margin: 0.7rem;
  margin-right: 1.5rem;
  position: absolute;
  top:1rem;
  right:0;
}

/*Landing Page*/
.landing_ul {
  gap: 1rem;
  list-style: none;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  z-index: 2; 
  display: none; 
  position: absolute; 
  list-style: none;
  top: 0.7rem; 
  left: 0; 
  background-color: var(--background-color); 
  padding: 1rem; 
  z-index: 1; 
  width: 100%;
}

.landing_ul.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  transition: color 0.3s; 
}

.link:hover {
  color: #3772FF; 
  font-size: 1.01rem;
}

.section-landing {
  display: flex;
  flex-direction: column;
  padding:0.5rem;
  justify-content: space-around;
  align-items: center;
  color:var(--black);
  width: 90%;
  height: 450px;
  margin: 7rem auto 0;
  border:15px solid black;

}

.landing-image {
  height:100%;
  width: 100%;
  margin-bottom: 1rem;
  
}

.section-heading {
  opacity: 0; 
  transition: opacity 2s ease-in-out; 
  height:20%;
  font-size: 2rem;
  
}

.section-heading.loaded {
  opacity: 1; 
}

/*Landing Page Responsive*/

@media only screen and (min-width: 992px){
  .logo{
    margin-right: 4.7rem;
  }
  .landing-image{
    height: 90%;
    
  }
  .section-landing {
    flex-direction: row;
    height: 400px;
    margin-left: auto;
    justify-content: space-between;
    padding: 1rem;
    gap:1.5rem;
    margin-top: 10rem;
    margin-bottom: 23rem;
  }
  .section-heading{
    font-size: 5rem;
    
  }

}

@media only screen and (max-width: 600px) {
  .landing_ul.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    margin: 0px;
  }
}

/*Article*/

.article-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding:1rem;
}

.article-heading {
  font-size: 3rem;
  color: var(--blue);
  text-align: center;
  margin-top: 7rem;

}
.article-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--black);
  gap:2rem;
  padding:2rem;
}

.about-article {
  color: #fafafa;
  padding: 1rem; 
  height:fit-content;
 
}

.about-article:hover {
  background-color: var(--yellow); 
  color: #1C1B1F; }

  .about-article.border{
    border:5px solid #fafafa;
  }

.about-article-heading{
  font-weight: bold;
  font-size: 3rem;
}

.article-text{
  font-size: 1rem;
  background-color: var(--blue);
  padding: 1rem;
}
.about-article>ul{
  list-style: none;
  margin-left: -2rem;
}
.about-article>ul>li{
  padding-bottom: 1rem;
}

.about-article-text{
  overflow-wrap: break-word; 
  padding-top: -1rem;
}

.about-article.text-wrapper{
  margin-top: -4rem;
  margin-bottom: 1rem;
}

.arrow{
  margin-bottom:-0.25rem;
}

.tag {
  display: inline-block;
  background-color: var(--blue);
  color: var(--black);
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
}

@media only screen and (min-width: 992px){
  .article-about{
    margin-top: 7rem;
    height:750px;
    padding-bottom: 1rem;
  }
  .about-article{
    max-height: 300px;
    height:250px;
    width:500px;
  }
  .article-heading{
    font-size: 4rem;
    margin-top: 5rem;
  }
  .article-container{
    gap:3rem;
    justify-content: space-around;
    padding:4rem;
    margin-bottom: 20rem;
  }
    .about-article.text-wrapper{
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
    .about-article.tag-wrapper{
      padding-top: 6rem;
    }
}

/*Project*/

.project-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  height:auto;
  border-top: 15px solid var(--black);
  padding-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.project-section>h3{
  font-size: 3rem;
  margin: 0 auto;
}

.project-section>article{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  justify-content: center;
  padding: 1rem;
  gap:1rem;
}


.text-container {
  display: none;
  background-color: #fafafa;
  padding: 1rem;
  height: 400px;
  width: 230px;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.text-container.show {
  display: flex;
  flex-direction: column;
}

.text-container>h5{
background-color: var(--black);
margin-top: -0.5rem;
color:#fafafa;
padding: 1rem;
border-radius: 0.8rem;
font-size: 1rem;
}

.project-section article:hover .text-container {
  display: flex;
  flex-direction: column;
}


.project-section article:hover img {
  display: none;
}

.section-image{
  height:400px;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.section-image.hide{
  display: none;
}



@media only screen and (min-width: 500px){
  .project-section{
    margin-top: 19rem;
    margin-bottom: 7rem;
  }
  
  .project-section>h3{
    font-size: 4rem;
  }
  .project-section>article{
    flex-direction: row;
  }
}

@media only screen and (min-width: 500px){
  .project-section{
    margin-top: 10rem;
    margin-bottom: 18rem;
  }
   
}

/*contact*/
.contact {
  display: flex;
  gap:1rem;
  align-items: center; 
  border: 15px solid var(--black);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
  padding: 1rem;
}

.contact>article>h3{
  color:var(--red);
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.contact-ul{
  list-style: none;
  margin-left: -1rem;
  margin-top: -3rem;
}
.contact-image{
  height:50px;
}

@media only screen and (min-width: 992px){

  .contact{
    justify-content: center; 
    gap:3rem;
    align-items: center; 
    border: 15px solid var(--black);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
  }
  
  .contact>article>h3{
    color:var(--red);
    font-size: 3rem;
  }

  .contact-image{
    height:200px;
  }
}